{% extends 'layout/base.html' %}
{% load static widget_tweaks %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<section class="signup">
    <form class="js-signup-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first name">{{ form.first_name.label }}</label>
            {% render_field form.first_name %}
        </div>
        <div class="form-group">
            <label for="id_last_name">{{ form.last_name.label }}</label>
            {% render_field form.last_name %}
        </div>
        <div class="form-group">
            <label class="required" for="id_username">{{ form.username.label }}</label>
            {% render_field form.username %}
            {% render_field form.errors.username %}
        </div>
        <div class="form-group">
            <label class="required" for="id_email">{{ form.email.label }}</label>
            {% render_field form.email %}
            {% render_field form.errors.email %}
        </div>
        <div class="form-group">
            <label class="required" for="id_password">{{ form.password.label }}</label>
            {% render_field form.password type="password" %}
            {% render_field form.errors.password %}
        </div>
        <div class="form-group">
            <label class="required" for="id_confirm_password">{{ form.confirm_password.label }}</label>
            {% render_field form.confirm_password %}
            {% render_field form.errors.confirm_password %}
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'node_modules/jquery_validation/dist/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}


